[defaults]
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
forks = 20

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=no -o Compression=no -o ServerAliveInterval=5 -o ServerAliveCountMax=1
