apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Name }}
  labels:
    kubernetes.io/metadata.name: {{ .Name }}
    app.kubernetes.io/part-of: {{ .Stack }}
    rtk.realtek.com/stack: {{ .Stack }}
    rtk.realtek.com/runtime: kubernetes
